@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override vars */
:root {
  --tab-box-shadow-selected: none !important;
  --zen-active-tab-scale: 1 !important;  
  --zen-sidebar-themed-icon-fill: var(--gnome-accent-bg) !important;
}

/* URL bar and tabs */
#navigator-toolbox {
  --border-radius-medium: var(--gnome-entry-radius) !important;
  :root[zen-no-padding='true'] & {
    --zen-compact-mode-no-padding-radius-fix: -4px !important;
  }
}

/* Essentials tabs */
.zen-essentials-container .tabbrowser-tab {
  --tab-background-color-hover: var(--gnome-trough-hover-background) !important;
  &[visuallyselected] .tab-background {
    &::before {
      display: none !important;
    }
    &::after {
      filter: blur(35px) saturate(50%) contrast(0.7) !important;
    }
  }
}

/* Sidebars */
#zen-tabbox-wrapper {
  #sidebar-box {
    --zen-native-inner-radius: 0px !important;
  }
  #sidebar-splitter {
    width: 8px !important;
    margin-inline: -4px !important;
  }
}
