@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Emojis picker */
#PanelUI-zen-emojis-picker {
  zoom: 1.2 !important;
  .zen-emojis-picker-svg {
    border-radius: 6px !important;
  }
}

/* Site data popup */
#unified-extensions-view {
  --zen-sidebar-themed-icon-fill: var(--gnome-accent-bg) !important;
}
#zen-site-data-header toolbarbutton {
  border-radius: var(--gnome-button-radius) !important;
  overflow: hidden !important;
  &.active:hover::before {
    background: color-mix(in srgb, var(--zen-sidebar-themed-icon-fill) 90%, #fff) !important;
  }
}
#zen-site-data-addons {
  #overflowed-extensions-list,
  #unified-extensions-area,
  .unified-extensions-list,
  #zen-site-data-new-addon-button-container {
    & > * {
      border-radius: var(--gnome-button-radius) !important;
    }
  }
}
#zen-site-data-header toolbarbutton,
#zen-site-data-footer toolbarbutton,
#zen-site-data-addons :is(#overflowed-extensions-list,
#unified-extensions-area,
.unified-extensions-list,
#zen-site-data-new-addon-button-container) > * {
  transform: none !important;
  background-color: var(--gnome-button-background) !important;
  &:hover {
    background-color: var(--gnome-button-hover-background) !important;
  }
  &:active {
    background-color: var(--gnome-button-active-background) !important;
  }
  &:disabled {
    opacity: 0.5 !important;
  }
}
#zen-site-data-new-addon-button {
  opacity: 0.5 !important;
}
.permission-popup-permission-icon,
.permission-popup-boost-icon {
  &::before {
    background: var(--gnome-button-background) !important;
    opacity: 1 !important;
    transform: none !important;
    transition: background 0.15s ease !important;
  }
  &:hover::before {
    background: var(--gnome-button-hover-background) !important;
  }
  :is(.permission-popup-permission-item[state="allow"],
  .permission-popup-boost-item[state="enabled"]) & {
    &::before {
      background: var(--zen-sidebar-themed-icon-fill) !important;
      opacity: 1;
    }
    &:hover::before {
      background: color-mix(in srgb, var(--zen-sidebar-themed-icon-fill) 90%, #FFF) !important;
    }
  }
}
#zen-site-data-security-info,
#zen-site-data-boost {
  border-radius: var(--gnome-button-radius) !important;
}
#zen-site-data-actions {
  border-radius: 99px !important;
  margin-top: 3px !important;
}

/* Media card */
.zen-media-info-vbox {
  overflow: hidden !important;
  mask-image: none !important;
  &::before {
    background: none !important;
  }
}
.zen-media-close-button image{
  border-radius: 99px !important;
}

/* Boost */
#zenBoostWindow {
  --zen-boosts-primary-background: var(--gnome-menu-background) !important;
  --zen-boosts-secondary-background: var(--gnome-menu-background) !important;
  --zen-boosts-primary-color: var(--gnome-menu-color) !important;
  --zen-boosts-secondary-color: color-mix(in srgb,
  var(--zen-boosts-primary-color) 90%,
  transparent) !important;
  --zen-boosts-button-background: var(--gnome-button-background) !important;
  --mod-button-c1: var(--gnome-button-background) !important;
  --mod-button-c2: var(--gnome-button-background) !important;
  --zen-boosts-active-button-background: var(--gnome-accent-bg) !important;
  --zen-boosts-active-button-hover-background: color-mix(in srgb, var(--zen-boosts-active-button-background) 90%, #FFF) !important;
  --zen-boosts-active-button-color: var(--gnome-accent) !important;
  --zen-boosts-back-button-hover-background: var(--gnome-hover-color) !important;
  --zen-boosts-magic-theme-background: var(--gnome-menu-background) !important;
  --zen-boosts-magic-theme-active-background: var(--gnome-menu-background) !important;
  --zen-boosts-font-wrapper-background: var(--gnome-sidebar-background) !important;
  --zen-boosts-primary-border-color: var(--gnome-border-color) !important;
  button {
    border-radius: var(--gnome-button-radius) !important;
  }
  #zen-boost-font-wrapper {
    border-radius: var(--gnome-button-radius) !important;
  }
}

/* Space routing */
#zenSpaceRoutingDialog {
  #sr-content {
    padding: var(--gnome-dialog-padding) 0 !important;
  }
  .input {
    padding: 4px !important;
  }
}
