@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Urlbar & Tab items */
#navigator-toolbox {
  --border-radius-medium: var(--gnome-menu-radius) !important;
}

/* Tooltip */
tooltip {
  border-radius: var(--gnome-button-radius) !important;
  border: 0.5px solid var(--gnome-border-color) !important;
}
