@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* URL bar and toolbars */
.urlbar {
  --zen-primary-color: var(--gnome-accent-bg) !important;
  --urlbarview-separator-color: var(--gnome-menu-separator-color) !important;
}
.urlbar-background {
  outline: none !important;
  #urlbar[breakout-extend] & {
    background-color: var(--gnome-menu-background) !important;
    border-radius: var(--gnome-dialog-radius) !important;
    box-shadow: var(--gnome-menu-shadow), var(--gnome-menu-shadow) !important;
  }
  #urlbar:not([breakout-extend]) &:-moz-window-inactive {
    opacity: 0.7 !important;
  }
}

/* Center text */
.urlbar-input,
.urlbar-input[aria-expanded="false"] {
  text-align: center !important;
}
.urlbar-input[aria-expanded="true"] {
  text-align: match-parent !important;
}

/* URL bar results */
.urlbarView-row {
  border-radius: var(--gnome-popover-radius) !important;
  color: var(--gnome-window-color) !important;
  &:hover {
    &,
    & .urlbarView-favicon {
      background-color: var(--gnome-hover-color) !important;
    }
  }
  &[selected] {
    --zen-selected-bg: var(--gnome-active-color) !important;
    --zen-selected-color: var(--gnome-menu-color) !important;
    background-color: var(--gnome-active-color) !important;
    &:where([type="switchtab"],
    [type="dynamic"],
    [type^="history"],
    [type^="autofill_"],
    [type="top_site"],
    [type="bookmark"]) .urlbarView-favicon,
    .urlbarView-shortcutContent {
      color: var(--gnome-menu-color) !important;
      background-color: var(--gnome-trough-background) !important;
    }
  }
  .urlbarView-favicon {
    border-radius: var(--gnome-button-radius) !important;
  }
}

/* Action badges */
#urlbar-search-mode-indicator {
  padding-inline: var(--gnome-menu-item-padding) !important;
}
.urlbarView-prettyName,
.urlbarView-shortcutContent {
  padding-inline: var(--gnome-menu-item-padding) !important;
  background: var(--gnome-trough-background) !important;
  box-shadow: none !important;
  border-radius: 99px !important;
}
.urlbarView-row[has-action]:is([type="switchtab"],
[type="remotetab"],
[type="clipboard"]) {
  & .urlbarView-action {
    background-color: var(--gnome-trough-background) !important;
    border-radius: 99px !important;
    padding-inline: var(--gnome-menu-item-padding) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  &:is([type="switchtab"],
  [type="remotetab"]) .urlbarView-action {
    margin-right: 0px !important;
    scale: 1 !important;
    opacity: 1 !important;
    &::after {
      display: none !important;
    }
    &.urlbarView-tabGroup {
      margin-right: 6px !important;
      color: var(--gnome-menu-color) !important;
      background-color:  var(--gnome-accent-bg) !important;
    }
  }
}
.urlbarView-button-result-menu {
  margin-right: var(--gnome-menu-item-padding) !important;
/*   display: none !important; */
}
.urlbarView-result-menu {
  padding: var(--gnome-menu-padding) !important;
  border: none !important;
}
