@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Temporary fixes for active UI issues. Safe to delete once resolved upstream. */

/* Omnibox */
/* Fix search icon alignment */
:not([zen-single-toolbar="true"]) {
  #identity-icon-label {
    display: none !important;
  }
  #identity-icon-box {
    padding-left: 16px !important;
  }
}
[zen-single-toolbar="true"],
[zen-floating-urlbar="true"] {
  #identity-icon-box {
    padding-inline: 10px 0 !important;
  }
}
/* Ensure the last result is fully visible */
.urlbarView-row {
  height: 47px !important;
}
/* Fix star icons that are hard to see in light mode */
.urlbarView-type-icon {
  --toolbarbutton-icon-fill-attention: var(--gnome-toolbar-icon-fill) !important;
}

/* Toolbar */
/* Fix alignment for zoom button label */
#zoom-reset-button label {
  padding-top: 1px !important;
}

/* Main menu */
/* Add missing spacing for separator before zoom item */
#appMenu-find-button2 {
  margin-bottom: var(--gnome-menu-padding) !important;
}
#appMenu-zoom-controls {
  padding-top: 10px !important;
/* Fix Zoom label alignment */
  margin-left: 2px !important;
}

/* Site Data popup */
/* Fix bottom padding for the clear site data footer */
#identity-popup-clear-sitedata-footer {
  padding-bottom: var(--gnome-menu-padding) !important;
}

/* Folder tabs popup */
/* Add missing item background padding */
#zen-folder-tabs-popup .folders-tabs-list-item-content {
  padding-block: 4px !important;
  margin-block: 0px !important;
}

/* Notification popup */
/* Remove excessive left margin from the site list section */
popupnotification .webext-perm-domains-list {
  margin-left: 0px !important;
}

/* Download panel */
/* Add missing padding before TypeIcon */
#downloadsPanel {
  .downloadMainArea, #emptyDownloads {
    margin-left: 3px !important;
  }
/* Fix excessive left and right padding on separators */
  toolbarseparator {
    padding-inline: 1px !important;
  }
}

/* Status panel */
/* Wait for the new status panel implementation in Zen */
#statuspanel {
  padding: 6px !important;
  & > #statuspanel-label {
    background: color-mix(in srgb, var(--zen-primary-color), black 70%) !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }
}
