@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Status panel */
#statuspanel > #statuspanel-label {
  border-radius: var(--gnome-menu-radius) !important;
  border: none !important;
  padding: 4px 12px !important;
  font-weight: 500 !important;
}

/* Site Data popup */
#zen-unified-site-data-panel {
  --panel-width: 246px !important;
}
#unified-extensions-area toolbaritem {
  border-radius: var(--gnome-button-radius) !important;
}
#zen-site-data-header toolbarbutton {
  overflow: hidden !important;
}
#zen-site-data-actions {
  border-radius: 99px !important;
  margin-top: 3px !important;
}
