@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Temporary fixes for active UI issues. Safe to delete once resolved upstream. */


/* Site Data popup */
#identity-popup-clear-sitedata-footer {
  padding-bottom: var(--gnome-menu-padding) !important;
}

/* Main menu */
#appMenu-find-button2 {
  margin-bottom: var(--gnome-menu-padding) !important;
}
#appMenu-zoom-controls {
  padding-top: 10px !important;
}

/* Status panel */
/* Waiting for the new Status panel to be implemented in Zen */
#statuspanel {
  padding: 6px !important;
  & > #statuspanel-label {
    background: color-mix(in srgb, var(--zen-primary-color), black 70%) !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }
}
