@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override vars */
:root {
  --tab-box-shadow-selected: none !important;
  --zen-active-tab-scale: none !important;
  --zen-sidebar-notification-bg: var(--gnome-card-background) !important;
  --zen-sidebar-notification-outline: none !important;
  --zen-sidebar-notification-shadow: none !important;
}

/* Sidebar */
#navigator-toolbox {
  --border-radius-medium: var(--gnome-entry-radius) !important;
  --zen-compact-mode-no-padding-radius-fix: -4px !important;
}
.zen-toolbar-background {
  &::before, &::after {
    outline: 1px solid var(--gnome-border-color) !important;
  }
}

/* Essentials tabs */
#zen-essentials {
  --tab-background-color-hover: var(--gnome-selected-hover-color) !important;
  .tabbrowser-tab {
    &[visuallyselected] .tab-background {
      &::before {
        display: none !important;
      }
      &::after {
        filter: blur(35px) saturate(50%) contrast(0.7) !important;
      }
    }
    @media (prefers-color-scheme: dark) {
      &[visuallyselected]:hover .tab-background {
        &::after {
          filter: blur(35px) saturate(50%) contrast(0.7) brightness(1.1) !important;
        }
      }
      &[visuallyselected]:active .tab-background {
        &::after {
          filter: blur(35px) saturate(50%) contrast(0.7) brightness(1.3) !important;
        }
      }
    }
    @media (prefers-color-scheme: light) {
      &[visuallyselected]:hover .tab-background {
        &::after {
          filter: blur(35px) saturate(50%) contrast(0.7) brightness(0.9) !important;
        }
      }
      &[visuallyselected]:active .tab-background {
        &::after {
          filter: blur(35px) saturate(50%) contrast(0.7) brightness(0.7) !important;
        }
      }
    }
  }
}

/* Tabs */
zen-workspace {
  --toolbox-textcolor: var(--gnome-menu-color) !important;
  --tab-background-color-hover: var(--gnome-hover-color) !important;
  --tab-background-color-selected: var(--gnome-selected-color) !important;
  .tabbrowser-tab {
    &:hover {
      --tab-background-color-selected: var(--gnome-selected-hover-color) !important;
    }
    &:active {
      --tab-background-color-selected: var(--gnome-selected-active-color) !important;
    }
  }
}
.tab-close-button,
.tab-reset-button {
  border-radius: 99px !important;
}

/* Tab group */
tab-group[split-view-group] {
  --zen-split-view-active-tab-bg: transparent !important;
  tab.tabbrowser-tab .tab-background {
    tab.tabbrowser-tab:hover & {
      background-color: var(--gnome-hover-color) !important;
    }
    tab.tabbrowser-tab[visuallyselected] & {
      background-color: var(--gnome-selected-color) !important;
      tab.tabbrowser-tab[visuallyselected]:hover & {
        background-color: var(--gnome-selected-hover-color) !important;
      }
      tab.tabbrowser-tab[visuallyselected]:active & {
        background-color: var(--gnome-selected-active-color) !important;
      }
    }
  }
  & .tab-group-container {
    &:hover {
      background-color: var(--gnome-hover-color) !important;
    }
    &:has(> tab:is([multiselected],
    [visuallyselected])):hover {
      background-color: var(--gnome-selected-color) !important;
    }
  }
}

/* Workspace icon */
#zen-workspaces-button .zen-workspace-icon[no-icon="true"] {
  toolbarbutton & {
    width: 6px !important;
    height: 6px !important;
    border-radius: 99px !important;
    background-color: var(--gnome-toolbar-icon-fill) !important;
    opacity: 0.5 !important;
  }
  toolbarbutton[active="true"] & {
    opacity: 0.9 !important;
    scale: 1.2 !important;
  }
}
#zen-workspaces-button .zen-workspace-icon {
  toolbarbutton & {
    fill: var(--gnome-toolbar-icon-fill) !important;
    fill-opacity: 0.5 !important;
  }
  toolbarbutton[active="true"] & {
    fill-opacity: 0.9 !important;
  }
}

/* Sidebars */
#sidebar-header {
  --zen-native-inner-radius: 0 !important;
  background-color: var(--gnome-secondary-sidebar-background) !important;
  border: none !important;
  padding-block: var(--gnome-toolbar-padding) !important;
  #sidebar-close {
    width: 24px !important;
    height: 24px !important;
    border-radius: 99px !important;
  }
}
#sidebar {
  background-color: var(--gnome-secondary-sidebar-background) !important;
}
#sidebar-search-container {
  padding: var(--gnome-toolbar-padding) !important;
}
#sidebar-splitter {
  width: 8px !important;
  margin-inline: -4px !important;
}
