@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Popup menus and context menus */
menupopup,
panel {
  --menuitem-padding: 4px 12px !important;
  --panel-border-radius: var(--gnome-popover-radius) !important;
}

/* Separator */
menuseparator,
panel toolbarseparator {
  padding-block: var(--gnome-menu-padding) !important;
}
#PlacesToolbarItems menuseparator {
  margin-inline: var(--gnome-menu-padding) !important;
}

/* Menu items */
menuitem:is([type="checkbox"],
[checked="true"]) .menu-icon,
menuitem[type="radio"] .menu-icon {
  visibility: collapse !important;
}
menuitem[badge]::after {
  border-radius: 99px !important;
  border: none !important;
  color: var(--gnome-window-color) !important;
  background-color: var(--gnome-trough-background) !important;
  font-size: 0.85em !important;
}
menu,
menuitem {
  &:where([_moz-menuactive]:not([disabled])) {
    background: var(--gnome-selected-color) !important;
  }
}

/* Toast notifications */
#zen-toast-container {
  --zen-toast-spacing: max(8px, var(--zen-element-separation)) !important;
}

/* Context Menu Cleanup */
/* Tab & UI items */
#context_openANewTab,
#context_reloadTab,
#context_reloadSelectedTabs,
#context_toggleMuteTab,
#context_toggleMuteSelectedTabs,
#context_zen-edit-tab-title,
#context_zen-edit-tab-icon,
#context_duplicateTab,
#context_duplicateTabs,
#context_bookmarkTab,
#context_bookmarkSelectedTabs,
#context_selectAllTabs,
#context_sendTabToDevice,
#context_zenReorderWorkspaces,
#toolbar-context-openANewTab,
#zen-toolbar-context-tabs-right,
.share-tab-url-item,

/* Page & link items */
#context-zenSplitLink,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-stripOnShareLink,
#context-sendlinktodevice,
#context-pocket,
#context-sendimage,
#context-sendvideo,
#context-media-showcontrols,
#context-translate-selection,
#context-print-selection,
#context-copy-link-to-highlight,
#context-copy-clean-link-to-highlight,
#context-viewpartialsource-selection,
#context-viewsource,
#context-inspect-a11y,
#strip-on-share,

/* Separators */
#context_sendTabToDeviceSeparator,
#context-sep-sendlinktodevice,
#context-sep-highlights,
#context-sep-sharing,
#tabContextMenu > menuseparator:nth-child(21),
#tabContextMenu > menuseparator:nth-child(24) {
  display: none !important;
}
