@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Status panel */
#statuspanel > #statuspanel-label {
  border-radius: var(--gnome-menu-radius) !important;
  border: none !important;
  padding: 4px 12px !important;
  font-weight: 500 !important;
}

/* Site Data popup */
#zen-site-data-header toolbarbutton {
  border-radius: var(--gnome-button-radius) !important;
  overflow: hidden !important;
}
#zen-site-data-addons :is(
#overflowed-extensions-list,
#unified-extensions-area,
.unified-extensions-list,
#zen-site-data-new-addon-button-container
) > * {
  border-radius: var(--gnome-button-radius) !important;
}
#zen-site-data-security-info,
#zen-site-data-boost {
  border-radius: var(--gnome-button-radius) !important;
}
#zen-site-data-actions {
  border-radius: 99px !important;
  margin-top: 3px !important;
}
