@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/**/
:host(:is(.anonymous-content-host, notification-message)),
:root {
  /* Default values */
  --zen-border-radius: 9px !important;
  /* This is like the secondary button */
  --button-border-radius: var(--gnome-button-radius) !important;
  /* XUL */
  --toolbarbutton-border-radius: var(--gnome-button-radius) !important;
  --zen-squircle-value: 1 !important;
  --arrowpanel-background: var(--gnome-menu-background) !important;
}
