@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override vars */
:root {
  --panel-border-color: transparent !important;
  --panel-separator-color: var(--gnome-menu-separator-color) !important;
  --panel-menuitem-padding-block: 4px !important;
  --panel-menuitem-padding-inline: 12px !important;
  --panel-padding-block: var(--gnome-menu-padding) !important;
  --arrowpanel-background: var(--gnome-menu-background) !important;
}

/* Popup menus and context menus */
menupopup,
panel {
  --menuitem-padding: 4px 12px !important;
  --panel-background-color: var(--gnome-menu-background) !important;
  --panel-border-radius: var(--gnome-popover-radius) !important;
  --panel-text-color: var(--gnome-menu-color) !important;
}
menulist {
  padding: var(--gnome-menu-padding) !important;
  menupopup {
    --panel-padding: var(--gnome-menu-padding) !important;
  }
}
panel-list {
  --panel-list-background-color: var(--gnome-menu-background) !important;
}
.panel-subview-footer-button {
  padding-block: var(--gnome-menu-padding) !important;
}
.row-item {
  border-radius: var(--gnome-menu-radius) !important;
}

/* Separator */
menuseparator,
panel toolbarseparator {
  padding-block: var(--gnome-menu-padding) !important;
  border: none !important;
}
#PlacesToolbarItems,
#BMB_bookmarksPopup {
  menuseparator {
    margin-inline: var(--gnome-menu-padding) !important;
  }
}

/* Menu items */
menuitem:is([type="checkbox"],
[checked="true"]) .menu-icon,
menuitem[type="radio"] .menu-icon {
  visibility: collapse !important;
}
menuitem[badge]::after {
  border-radius: 99px !important;
  border: none !important;
  color: var(--gnome-menu-color) !important;
  background-color: var(--gnome-trough-background) !important;
  font-size: 0.85em !important;
}
menu,
menuitem {
  &:where([_moz-menuactive]:not([disabled])) {
    background: var(--gnome-selected-color) !important;
  }
}

/* Main menu */
#PanelUI-fxa-menu-manage-account-button {
  border-radius: var(--gnome-menu-radius) !important;
}

/* Folder tabs popup */
#zen-folder-tabs-popup {
  .tabs-list-header {
    margin-inline: var(--gnome-menu-padding) !important;
    margin-bottom: var(--gnome-menu-padding) !important;
    .zen-folder-tabs-list-search-icon {
      margin-left: 6px !important;
    }
    #zen-folder-tabs-list-search {
      margin-right: -10px !important;
    }
    ::-moz-search-clear-button {
      border-radius: var(--gnome-button-radius) !important;
    }
  }
  .folders-tabs-list-item {
    margin-block: 2px !important;
  }
}

/* Notification popup */
popupnotification {
  .popup-notification-body {
    padding: 2px !important;
  }
  .popup-notification-icon {
    display: none !important;
  }
  .popup-notification-description {
    font-size: 20px !important;
    font-weight: 800 !important;
  }
}
.popup-notification-panel moz-button {
  margin-top: var(--gnome-menu-padding) !important;
  flex: 1 !important;
}

/* AutoComplete popup */
#PopupAutoComplete richlistbox {
  padding-block: 0 !important;
  padding-inline: var(--gnome-menu-padding) !important;
}

/* Toast notifications */
#zen-toast-container {
  left: 50% !important;
  right: auto !important;
  transform: translateX(-50%) !important;
  margin-top: 6px !important;
  .zen-toast {
    position: relative !important;
    padding-inline: var(--gnome-menu-item-padding) !important;
    border-radius: 99px !important;
    background: var(--gnome-menu-background) !important;
    color: var(--gnome-menu-color) !important;
    box-shadow: var(--gnome-menu-shadow) !important;
  }
}

/* Context menu cleanup */
/* Tab and UI items */
#context_openANewTab,
#context_reloadTab,
#context_reloadSelectedTabs,
#context_toggleMuteTab,
#context_toggleMuteSelectedTabs,
#context_zen-edit-tab-title,
#context_zen-edit-tab-icon,
#context_bookmarkTab,
#context_bookmarkSelectedTabs,
.share-tab-url-item,
#context_selectAllTabs,
#context_sendTabToDevice,
#context_closeDuplicateTabs,
#context_zenReorderWorkspaces,
/* Page and link items */
#context-openlink,
#context-openlinkprivate,
#context-zenSplitLink,
#context-bookmarklink,
#context-savelink,
#context-stripOnShareLink,
#context-sendlinktodevice,
#context-sendimage,
#context-media-showcontrols,
#context-sendvideo,
#context-print-selection,
#context-copy-clean-link-to-highlight,
#context-viewpartialsource-selection,
#context-viewsource,
#context-inspect-a11y,
/* Separators */
#tabContextMenu:has(#context_zen-add-essential[hidden]):has(#context_zen-remove-essential[hidden]) menuseparator:nth-child(22),
#tabContextMenu > menuseparator:nth-child(25),
#context_sendTabToDeviceSeparator,
#context-sep-sendlinktodevice {
  display: none !important;
  color: red !important;
}
