@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override vars */
:root {
  --urlbar-box-background-color: var(--gnome-selected-color) !important;
  --urlbar-box-background-color-hover: var(--gnome-hover-color) !important;
  --urlbar-box-background-color-active: var(--gnome-active-color) !important;
  --urlbar-icon-border-radius: var(--gnome-button-radius) !important;
}

/* URL bar and toolbars */
.urlbar {
  --urlbarview-separator-color: var(--gnome-menu-separator-color) !important;
}
.urlbar-background {
  outline: none !important;
  #urlbar:not([breakout-extend]):hover & {
    background-color: var(--gnome-selected-color) !important;
  }
  :root[zen-has-empty-tab="true"] #urlbar:not([breakout-extend]):hover & {
    background-color: var(--gnome-selected-hover-color) !important;
  }
  #urlbar:not([breakout-extend]) &:-moz-window-inactive {
    opacity: 0.7 !important;
  }
  #urlbar[breakout-extend] & {
    background-color: var(--gnome-menu-background) !important;
    border-radius: var(--gnome-dialog-radius) !important;
    box-shadow: var(--gnome-menu-shadow), var(--gnome-menu-shadow) !important;
  }
}
#urlbar[breakout-extend]::before {
  animation: none !important;
}

/* URL bar buttons */
#urlbar:not([breakout-extend]) .urlbar-input-container {
  align-items: stretch !important;
  padding: 0 !important;
  gap: 0 !important;
  #zen-copy-url-button {
    order: -1 !important;
  }
  #urlbar-input {
    &:hover {
      background-color: var(--gnome-hover-color) !important;
    }
    &:active {
      background-color: var(--gnome-active-color) !important;
    }
    :root[zen-has-empty-tab="true"] #urlbar & {
      background-color: transparent !important;
    }
  }
  .urlbar-input-box {
    margin-inline: 0 !important;
  }
  #zen-copy-url-button,
  #zen-site-data-icon-button,
  .urlbar-page-action,
  #urlbar-zoom-button {
    justify-content: center !important;
    height: auto !important;
    min-height: 100% !important;
    min-width: var(--gnome-button-size) !important;
    margin-block: 0 !important;
    border-radius: 0 !important;
  }
  #identity-box {
    height: auto !important;
  }
  #urlbar-zoom-button {
    margin-inline: 0 !important;
    font-weight: 500 !important;
    background-color: var(--gnome-button-background) !important;
    animation: none !important;
    &:hover {
      background-color: var(--gnome-button-hover-background) !important;
    }
    &:active {
      background-color: var(--gnome-button-active-background) !important;
    }
    :root:not([zen-single-toolbar="true"]) & {
      order: -1 !important;
      background-color: transparent !important;
      &:hover {
        background-color: var(--gnome-hover-color) !important;
      }
      &:active {
        background-color: var(--gnome-active-color) !important;
      }
    }
  }
}
#urlbar[breakout-extend] #urlbar-zoom-button {
  display: none !important;
}
.urlbar-page-action,
.identity-box-button {
  &:not([open="true"]):active:hover {
    transform: none !important;
  }
}

/* Center text */
.urlbar-input[aria-expanded="false"] {
  text-align: center !important;
}
.urlbar-input[aria-expanded="true"] {
  text-align: match-parent !important;
}

/* URL bar results */
.urlbarView-row {
  border-radius: var(--gnome-popover-radius) !important;
  color: var(--gnome-menu-color) !important;
  &:hover {
    &,
    & .urlbarView-favicon {
      background-color: var(--gnome-hover-color) !important;
    }
  }
  &[selected] {
    --zen-selected-bg: var(--gnome-active-color) !important;
    --zen-selected-color: var(--gnome-menu-color) !important;
    background-color: var(--gnome-active-color) !important;
    & * {
      color: var(--gnome-menu-color) !important;
    }
    .urlbarView-title-separator::before,
    .urlbarView-url {
      color: var(--gnome-accent) !important;
    }
    &:where([type="switchtab"],
    [type="dynamic"],
    [type^="history"],
    [type^="autofill_"],
    [type="top_site"],
    [type="bookmark"]) .urlbarView-favicon,
    .urlbarView-shortcutContent {
      color: var(--gnome-menu-color) !important;
      background-color: var(--gnome-trough-background) !important;
    }
  }
  .urlbarView-favicon {
    border-radius: var(--gnome-button-radius) !important;
  }
}

/* Action badges */
#urlbar-search-mode-indicator {
  padding-inline: var(--gnome-menu-item-padding) !important;
}
.urlbarView-prettyName,
.urlbarView-shortcutContent {
  padding-inline: var(--gnome-menu-item-padding) !important;
  background: var(--gnome-trough-background) !important;
  box-shadow: none !important;
  border-radius: 99px !important;
}
.urlbarView-row[has-action]:is([type="switchtab"],
[type="remotetab"],
[type="clipboard"]) {
  .urlbarView-action {
    background-color: var(--gnome-trough-background) !important;
    border-radius: 99px !important;
    padding-inline: var(--gnome-menu-item-padding) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  &:is([type="switchtab"],
  [type="remotetab"]) .urlbarView-action {
    margin-right: 0 !important;
    scale: 1 !important;
    opacity: 1 !important;
    &::after {
      display: none !important;
    }
    &.urlbarView-tabGroup {
      margin-right: 6px !important;
      color: var(--gnome-menu-color) !important;
      background-color: var(--gnome-accent-bg) !important;
    }
  }
}
.urlbarView-button-result-menu {
  margin-right: var(--gnome-menu-item-padding) !important;
  background-color: var(--gnome-button-background) !important;
  color: var(--gnome-window-color) !important;
  &:hover {
    background-color: var(--gnome-button-hover-background) !important;
  }
  &:active {
    background-color: var(--gnome-button-active-background) !important;
  }
}
.urlbarView-result-menu {
  padding: var(--gnome-menu-padding) !important;
  border: none !important;
}
