@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* URL bar and tabs */
#navigator-toolbox {
  --border-radius-medium: var(--gnome-entry-radius) !important;
  :root[zen-no-padding='true'] & {
    --zen-compact-mode-no-padding-radius-fix: -4px !important;
  }
}

/* Essentials tabs */
.zen-essentials-container .tabbrowser-tab {
  --tab-background-color-hover: var(--gnome-trough-hover-background) !important;
  &[visuallyselected] .tab-background {
    &::before {
      display: none !important;
    }
    &::after {
      filter: blur(35px) saturate(50%) contrast(0.7) !important;
    }
  }
}

/* Glance */
.zen-glance-sidebar-container toolbarbutton {
  background-color: var(--gnome-menu-background) !important;
}
.zen-glance-sidebar-container toolbarbutton:hover {
  background-color: color-mix(in srgb, var(--gnome-menu-background) 95%, #FFF) !important;
}
