@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Global CSS variables */
:host(:is(.anonymous-content-host, notification-message)),
:root {
  --zen-border-radius: 9px !important;
  --zen-primary-color: AccentColor !important;
  --zen-branding-dark: #222226 !important;
  --zen-branding-paper: #fafafb !important;
  --zen-squircle-value: 1 !important;
  /*  */
  --border-radius-xsmall: var(--gnome-button-radius) !important;
  --border-radius-small: var(--gnome-menu-radius) !important;
  --border-radius-medium: var(--gnome-entry-radius) !important;
  --border-radius-large: var(--gnome-popover-radius) !important;
  /*  */
  --background-color-canvas: var(--gnome-menu-background) !important;
  --background-color-box: var(--gnome-card-background) !important;
  --border-color: var(--gnome-border-color) !important;
  --hr-color: var(--gnome-menu-separator-color) !important;  
  /*  */
  --text-color: var(--gnome-menu-color) !important;
  --text-color-secondary: color-mix(in srgb,
  var(--gnome-menu-color) 90%,
  transparent) !important;
  --text-color-accent-primary-selected: var(--gnome-menu-color) !important;
  --text-color-error: var(--gnome-error) !important;  
  /*  */
  --color-accent-primary-selected: var(--gnome-menu-background) !important;
  --select-background-color: var(--gnome-button-background) !important;
  --input-background-color: var(--gnome-card-background) !important;
}
