@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Input box */
input:where([type="email"],
[type="tel"],
[type="text"],
[type="password"],
[type="url"],
[type="number"]),
textarea {
  border: none !important;
}
input::-moz-search-clear-button {
  background-image: var(--gnome-icon-edit-clear-symbolic) !important;
  background-color: transparent !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  opacity: 0.5 !important;
}
input::-moz-search-clear-button:hover {
  opacity: 1 !important;
}

/* Find bar  */
findbar {
  --findbar-container-height: var(--gnome-entry-height) !important;
  align-items: center;
  .findbar-closebutton {
    border-radius: 99px !important;
    outline: none !important;
    height: 28px !important;
    width: 28px !important;
  }
}
.findbar-textbox {
  min-height: var(--gnome-entry-height) !important;
  padding-inline: 9px !important;
  border: none !important;
  &[status="notfound"] {
    background-color: var(--gnome-button-destructive-background) !important;
    color: var(--gnome-error) !important;
    outline-color: var(--gnome-entry-error-focused-border-color) !important;
  }
}

/* Status panel */
#statuspanel {
  padding: var(--gnome-toolbar-padding) !important;
}
#statuspanel-label {
  border-radius: var(--gnome-menu-radius) !important;
  border: none !important;
  padding: 4px 12px !important;
  font-weight: 500 !important;
  background-color: var(--gnome-menu-background) !important;
  color: var(--gnome-menu-color) !important;
}

/* Tooltips */
tooltip {
  border-radius: var(--gnome-button-radius) !important;
  border: 0.5px solid var(--gnome-border-color) !important;
}

/* Split View */
.zen-view-splitter-header {
  border-radius: 99px !important;
  margin-top: 6px !important;
  background-color: var(--gnome-menu-background) !important;
}
.browserSidebarContainer.deck-selected {
  outline: none !important;
}
#tabbrowser-tabbox[zen-split-view="true"] {
  --zen-split-row-gap: 2px !important;
  --zen-split-column-gap: 2px !important;
}
.zen-split-view-splitter {
  min-width: 12px !important;
  min-height: 12px !important;
  margin-left: -8px !important;
  margin-top: -4px !important;
  &::before {
    display: none !important;
  }
}

/* Custom toolbar interface */
#customization-panelWrapper .panel-arrowcontent {
  --panel-border-radius: var(--gnome-popover-radius) !important;
  --panel-background-color: var(--gnome-card-background) !important;
  padding: var(--gnome-menu-padding) !important;
}

/* Fullscreen and pointerlock warning */
.pointerlockfswarning {
  background-color: rgba(0, 0, 0, 0.7) !important;
  box-shadow: var(--gnome-menu-shadow) !important;
  border-radius: 99px !important;
  border: none !important;
  padding: 6px 12px !important;
  &[data-identity="verifiedDomain"]::before {
    background-image: var(--gnome-icon-channel-secure-symbolic) !important;
    height: 16px !important;
    width: 16px !important;
  }
  &[data-identity="unknownIdentity"]::before {
    background-image: var(--gnome-icon-channel-insecure-symbolic) !important;
    height: 16px !important;
    width: 16px !important;
  }
}
.pointerlockfswarning-domain-text,
.pointerlockfswarning-generic-text {
  font-size: 16px !important;
  margin-inline: 6px 0 !important;
}
#fullscreen-exit-button {
  display: none !important;
}

/* Picture-in-Picture */
#controls {
  .control-button {
    border-radius: 99px !important;
    &:hover {
      background-color: var(--gnome-trough-background) !important;
    }
  }
  #close,
  #minimize,
  #unpip {
    background-color: transparent !important;
    fill: var(--player-control-icon-fill) !important;
    &:hover {
      background-color: var(--gnome-trough-background) !important;
    }
  }
  #scrubber {
    &::-moz-range-thumb {
      background-color: var(--player-control-icon-fill) !important;
      border-radius: 99px !important;
      border: none !important;
      width: 20px !important;
      height: 20px !important;
    }
    &::-moz-range-thumb:hover {
      scale: 1.2 !important;
    }
  }
}
body:not(:fullscreen) #controls:hover .control-item:not(:hover),
#controls[donthide] .control-item {
  opacity: 1 !important;
}

/* Menu checkbox/radio */
/* From firefox-gnome-theme */
menuitem[type="checkbox"],
menuitem[type="radio"] {
  &::before {
    align-items: center !important;
    content: "" !important;
    display: flex !important;
    height: 16px !important;
    justify-content: center !important;
    margin-inline-end: 0.5em !important;
    width: 16px !important;
  }
  &[disabled="true"]::before {
    opacity: 0.5 !important;
  }
}
menuitem[type="checkbox"][checked]::before {
  content: var(--gnome-icon-select-symbolic) !important;
}
menuitem[type="radio"] {
  &::before {
    border-radius: 100% !important;
    border: 1px solid var(--gnome-toolbar-icon-fill) !important;
  }
  &[checked]::before {
    content: var(--gnome-icon-bullet-symbolic) !important;
  }
}
/* Checkbox */
input[type="checkbox"],
checkbox:not(.treenode-checkbox) > .checkbox-check {
  appearance: none !important;
  border: 0 !important;
  border-radius: 6px !important;
  color: var(--gnome-window-color) !important;
  height: 20px !important;
  width: 20px !important;
}
input[type="checkbox"]:not(:checked),
checkbox:not(.treenode-checkbox) > .checkbox-check:not([checked]) {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px var(--gnome-trough-background);
}
input[type="checkbox"]:not(:checked):hover,
checkbox:not(.treenode-checkbox) > .checkbox-check:not([checked]):hover {
  box-shadow: inset 0 0 0 2px var(--gnome-trough-hover-background);
}
input[type="checkbox"]:checked,
checkbox:not(.treenode-checkbox) > .checkbox-check[checked] {
  background-color: var(--gnome-accent-bg) !important;
	/* NOTE: var(--gnome-icon-select-symbolic) doesn't load in modal dialogs */
  background-image: url("../icons/custom/select-fixed-symbolic.svg") !important;
  background-size: 14px !important;
  background-repeat: no-repeat;
  background-position: center;
  fill: white !important;
  -moz-context-properties: fill;
}
/* Radio */
input[type="radio"],
radio > .radio-check {
  appearance: none !important;
  border: 0 !important;
  border-radius: 50% !important;
  color: var(--gnome-window-color) !important;
  height: 20px !important;
  padding: 3px !important;
  width: 20px !important;
  radiogroup:focus-visible radio[focused] > & {
    outline: 2px solid var(--gnome-focus-border-color) !important;
    outline-offset: 2px !important;
  }
}
input[type="radio"][aria-checked="false"],
radio > .radio-check:not([selected]) {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px var(--gnome-trough-background);
}
input[type="radio"][aria-checked="false"]:hover,
radio > .radio-check:not([selected]):hover {
  box-shadow: inset 0 0 0 2px var(--gnome-trough-hover-background);
}
input[type="radio"][aria-checked="true"],
radio > .radio-check[selected] {
  background-color: var(--gnome-accent-bg) !important;
	/* NOTE: var(--gnome-icon-bullet-symbolic) doesn't load in modal dialogs */
  background-image: url("../icons/custom/bullet-fixed-symbolic.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  fill: white !important;
  -moz-context-properties: fill;
}
.radio-label-box {
  outline: 0 !important;
}
.radio-label {
  margin-inline-start: 3px !important;
}
/* Switchers */
.toggle-button {
  --toggle-height: 26px !important;
  --toggle-width: 48px !important;
  --toggle-border-radius: 24px !important;
  --toggle-border-color: var(--gnome-trough-background) !important;
  --toggle-background-color:  var(--gnome-trough-background) !important;
  --toggle-background-color-pressed: var(--gnome-accent-bg) !important;
  --toggle-dot-height: 22px !important;
  --toggle-dot-width: 22px !important;
  --toggle-dot-background-color: #FFF !important;
  --toggle-dot-background-color-on-pressed: #FFF !important;
  --toggle-dot-transform-x: calc(var(--toggle-width) - 4 * var(--toggle-dot-margin) - var(--toggle-dot-width)) !important;
  border: 0 !important;
}
.toggle-button::before {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
link[href="chrome://global/content/elements/moz-toggle.css"] ~ .content-wrapper {
  margin-inline: 0 !important;
}
link[href="chrome://global/content/elements/moz-toggle.css"] ~ .description {
  --input-space-offset: calc(48px + 12px) !important;
  margin-block-start: 0 !important;
}
