@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override vars */
:root {
  --button-border-radius: var(--gnome-button-radius) !important;
  --button-background-color: var(--gnome-button-background) !important;
  --button-background-color-hover: var(--gnome-button-hover-background) !important;
  --button-background-color-active: var(--gnome-button-active-background) !important;
  --button-background-color-ghost-hover: var(--gnome-hover-color) !important;
  --button-background-color-ghost-active: var(--gnome-active-color) !important;
  --toolbarbutton-border-radius: var(--gnome-button-radius) !important;
  --toolbarbutton-background-color-hover: var(--gnome-hover-color) !important;
  --toolbarbutton-background-color-active: var(--gnome-active-color) !important;
  --in-content-primary-button-background: var(--gnome-button-suggested-background) !important;
  --in-content-primary-button-background-hover: color-mix(in srgb,
  var(--in-content-primary-button-background) 95%,
  #FFF) !important;
  --in-content-primary-button-background-active: color-mix(in srgb,
  var(--in-content-primary-button-background) 90%,
  #FFF) !important;
  --in-content-primary-button-text-color: var(--gnome-menu-color) !important;
}

/* Buttons */
button {
  --panel-item-button-border-radius: var(--gnome-button-radius) !important;
  &:hover {
    --select-background-color: var(--gnome-button-hover-background) !important;
  }
  &:active {
    --select-background-color: var(--gnome-button-active-background) !important;
  }
}
.select {
  min-height: var(--gnome-button-size) !important;
  &:hover {
    --select-background-color: var(--gnome-button-hover-background) !important;
  }
}

/* Animation */
toolbarbutton {
  transition: background 0.15s ease !important;
}
.toolbarbutton-1:not(#tabs-newtab-button),
.urlbar-page-action,
.identity-box-button {
  transition: background 0.15s ease !important;
  &:not([open="true"]):active:hover {
    transform: none !important;
  }
}

/* Fix button glitches */
#tabs-newtab-button {
  --toolbarbutton-border-radius: 0px !important;
}
.zen-current-workspace-indicator.zen-drop-target toolbarbutton {
  --border-radius-medium: 12px !important;
}
#appMenu-zoom-controls {
  --uc-arrowpanel-menuitem-margin-block: -2px !important;
}
#appMenu-zoomReset-button2 .toolbarbutton-text,
#appMenu-zoom-controls #appMenu-fullscreen-button2 image {
  background-color: transparent !important;
}
#appMenu-zoomReset-button2 {
  width: 60px !important;
}
#appMenu-fullscreen-button2 {
  --border-radius-xsmall: 0px !important;
}
.downloadButton {
  min-width: var(--gnome-button-size) !important;
  &:hover:not(:active) {
    border: none !important;
  }
}
.zen-glance-sidebar-container toolbarbutton {
  background-color: var(--gnome-menu-background) !important;
  &:hover {
    background-color: color-mix(in srgb, var(--gnome-menu-background) 95%, #FFF) !important;
  }
  &:active:hover {
    background-color: color-mix(in srgb, var(--gnome-menu-background) 90%, #FFF) !important;
  }
}

/* Combined buttons */
/* Adapted from firefox-gnome-theme */
#appMenu-popup .toolbaritem-combined-buttons toolbarbutton,
#context-navigation menuitem {
  background-color: var(--gnome-button-background) !important;
  color: var(--gnome-window-color) !important;
  font-weight: bold !important;
  justify-content: center !important;
  min-height: var(--gnome-button-size) !important;
  min-width: var(--gnome-button-size) !important;
  transition: background var(--gnome-animation-time) !important;
  &:not([disabled]) {
    &:hover {
      background-color: var(--gnome-button-hover-background) !important;
    }
    &:active {
      background-color: var(--gnome-button-active-background) !important;
    }
  }
  &[disabled] {
    opacity: 0.5 !important;
  }
}
#appMenu-popup .toolbaritem-combined-buttons:not(.unified-extensions-item) toolbarbutton:not(:last-of-type):not(#appMenu-zoomEnlarge-button),
#context-navigation menuitem:not(:last-of-type) {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}
#appMenu-popup .toolbaritem-combined-buttons:not(.unified-extensions-item) toolbarbutton:not(:first-of-type):not(#appMenu-fullscreen-button),
#context-navigation menuitem:not(:first-of-type) {
  border-end-start-radius: 0 !important;
  border-start-start-radius: 0 !important;
  margin-inline-start: 0 !important;
}

