@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override vars */
:root {
  --zen-dialog-background: var(--gnome-menu-background) !important;
}

/* Dialogs */
window {
  width: initial !important;
}
dialog {
  padding: var(--gnome-dialog-padding) !important;
}

/* Dialog boxes */
.dialogBox {
  border-radius: var(--gnome-dialog-radius) !important;
  border: none !important;
  outline: 0.5px solid var(--gnome-border-color) !important;
  box-shadow: var(--gnome-menu-shadow) !important;
  outline-offset: -1px !important;
  :not(.content-prompt-dialog) > .dialogOverlay > &:not(.spotlightBox) {
    margin-top: 0 !important;
  }
}

/* Content */
dialog {
  #titleContainer {
    justify-content: center !important;
  }
  .titleIcon {
    display: none !important;
  }
  #titleCropper {
    display: initial !important;
  }
  #titleText {
    font-size: 20px !important;
    font-weight: 800 !important;
    text-align: center !important;
    white-space: initial !important;
  }
  #infoContainer {
    text-align: center !important;
  }
  #checkboxContainer {
    align-items: center !important;
  }
}

/* Buttons */
.dialog-button-box {
  gap: 12px !important;
  button {
    --button-background-color: var(--gnome-button-background) !important;
    --button-background-color-hover: var(--gnome-button-hover-background) !important;
    --button-background-color-active: var(--gnome-button-active-background) !important;
    --button-background-color-primary: var(--gnome-button-suggested-background) !important;
    --button-background-color-primary-hover: color-mix(in srgb,
    var(--button-background-color-primary) 95%,
    #FFF) !important;
    --button-background-color-primary-active: color-mix(in srgb,
    var(--button-background-color-primary) 90%,
    #FFF) !important;
    --focus-outline-color: var(--gnome-entry-focused-border-color) !important;
    /* A foolish approach, but due to Shadow DOM limitations, this is the only workaround I have for now */
    &:is([data-l10n-id="sanitize-button-ok2"], [label="Leave page"], [label="離開頁面"], [label="离开页面"], [label="ページを離れる"], [label="페이지 나가기"], [label="Salir de la página"], [label="Quitter la page"], [label="Seite verlassen"], [label="Lascia la pagina"], [label="Sair da página"], [label="Покинуть страницу"], [label="Pagina verlassen"], [label="Opuść stronę"], [label="Sayfadan ayrıl"], [label="Lishiti storonku"], [label="Lämna sidan"], [label="Forlad side"], [label="Poistu sivulta"], [label="Forlat siden"], [label="Opustit stránku"], [label="Oldal elhagyása"], [label="Εγκατάλειψη σελίδας"], [label="עזוב את הדף"], [label="مغادرة الصفحة"], [label="ออกจากหน้านี้"], [label="Rời khỏi trang"]) {
      --button-background-color-primary: var(--gnome-button-destructive-background) !important;
      --button-background-color-primary-hover: var(--gnome-button-destructive-hover-background) !important;
      --button-background-color-primary-active: var(--gnome-button-destructive-active-background) !important;
      --button-text-color-primary: var(--gnome-destructive) !important;
      --button-text-color-primary-hover: var(--button-text-color-primary) !important;
      --button-text-color-primary-active: var(--button-text-color-primary) !important;
      --focus-outline-color: var(--gnome-entry-error-focused-border-color) !important;
    }
    padding: 10px 14px !important;
    margin: 0 !important;
    border-radius: 12px !important;
    outline-offset: -2px !important;
    flex: 1 !important;
    &:hover,
    &:active {
      scale: 1 !important;
    }
  }
  .button-spacer {
    display: none !important;
  }
}

/* Browser dialogs */
#dialogGrid {
  padding-bottom: 8px !important;
}

/* Misc */
#SanitizeDialog {
  #SanitizeDurationBox {
    padding-block: var(--gnome-menu-padding) !important;
  }
  #sanitizeEverythingWarningBox {
    background-color: var(--gnome-warning-bg) !important;
    color: var(--gnome-window-background) !important;
    border: none !important;
  }
}
#zen-share-confirm-dont-ask {
  margin-bottom: var(--gnome-menu-item-padding) !important;
}
